<div id="back" class="container"></div>
<div class="box">
  <div class="containertop">
    <div class="kontaktdaten">
      <ul style="list-style-type:none;">
        <h2>KONTAKT</h2>
        <li class="bi bi-envelope kontakt"> maruanpaschen (at) gmail.com</li>
        <li class="bi bi-house kontakt"> Berlin</li>
        <li class="bi bi-phone kontakt"> 0173 7647913</li>
        <li class="bi bi-calendar kontakt"> 1984</li>
        <li class="bi bi-globe kontakt"> Deutsch</li>
      </ul>
    </div>
    <div class="kompetenzen">
      <ul style="list-style-type: none;">
        <h2>KOMPETENZEN</h2>
        <div class="innercontainer">
          <li>
            <img src="../../assets/images/png-512/CSS3.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/JavaScript.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Bootstrap.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/HTML5.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Java.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Ruby-on-Rails.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Git.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/GitHub.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Node.js.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Figma.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/TypeScript.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Docker.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Webpack.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Jenkins.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/NPM.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Yarn.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Jira.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Babel.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Apache-Maven.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Jenkins.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Ant-Design.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Tailwind-CSS.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Angular.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Canva.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/IntelliJ-IDEA.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/jQuery.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/JSON.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/MySQL.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Vim.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/PostgresSQL.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Postman.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/React.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
          <li>
            <img src="../../assets/images/png-512/Sass.png" alt="jenkins" style="height: 40px; width:40px;">
          </li>
        </div>
      </ul>
    </div>
    <ul style="list-style-type: none;">
      <h2>SPRACHEN</h2>
      <li class="bi bi-check2-all"> Deutsch</li>
      <li class="bi bi-check2-all"> Englisch</li>
      <li class="bi bi-check2"> Französisch</li>
      <li class="bi bi-check2"> Arabisch</li>
    </ul>
  </div>
  <div class="containerzwei">
    <div class="about">
      <ul>
        <h2 style="text-align: center;">ABOUT</h2>
        <li style="list-style-type: none;">
          <p>
            <span>
              Entwickler mit umfangreicher Erfahrung in der Webentwicklung. Spezialisiert auf die Implemtierung von
              benutzerfreundlichen Lösungen und die Optimierung der Leistung von Anwendungen. Beherrscht verschieden
              Progrmaiersprachen und Technologien.
            </span>
          </p>
        </li>
      </ul>
    </div>
    <div class="about">
      <ul>
        <h2 style="text-align: center;">BERUFSERFAHRUNG</h2>
        <li style="list-style-type: none;">
          <p>
            <span style="font-size: larger;">IT CONSULTANT</span><br>
            <span> Lufthansa Industry Solutions. Hamburg | Nov 2022 - Aktuell</span>
            <span>Implemtierung von Softwarelösungen zur Steigerung der Effizienz.</span>
          </p>
        </li>
        <li style="list-style-type: none;">
          <p>
            <span style="font-size: larger;">EDITOR IN CHIEF </span><br>
            <span> Mixology GmbH. Berlin | April 2018 - Nov 2020</span>
            <span>Redaktionsleitug der Online Redaktion. Führen der Redaktionspläne, Verwaltung der Wordpress basierten
              Web Anwendung und journalistische Arbeit.</span>
          </p>
        </li>
        <li style="list-style-type: none;">
          <p>
            <span style="font-size: larger;">COPY WRITER </span><br>
            <span> Hansen2 Hamburg | Mai 2014 - jun 2016</span>
            <span>Kreative Textgestaltung von sowohl Kurz - als auch Langtexten für Print und Digitalmedien sowie Social
              Media.</span>
          </p>
        </li>
        <li style="list-style-type: none;">
          <p>
            <span style="font-size: larger;">COPY WRITER </span><br>
            <span> randwerk Leipzig | Mai 2012 - Aug 2014</span>
            <span>Erstellung von kreativen Inhalten für Social Media Kampagnen und Online Marketing</span>
          </p>
        </li>
        <li style="list-style-type: none;">
          <p>
            <span style="font-size: larger;">DaF LEHRER </span><br>
            <span> Goethe Institut. Tripolis, Libyen | Mrz 2011 - Dez 2012</span>
            <span>Unterricht in Deutsch als Fremdsprache für Gruppen und Einzelpersonen geleitet, einschließlich
              Prüfungsvorbereitung.</span>
          </p>
        </li>
        <li style="list-style-type: none;">
          <p>
            <span style="font-size: larger;">AUTOR </span><br>
            <span> Media Kraft Berlin | Aug 2007 - jun 2008</span>
            <span>Journalistische Recherche und Skript Writing für Youtube Content Creator.</span>
          </p>
        </li>
        <li style="list-style-type: none;">
          <p>
            <span style="font-size: larger;">KOCH </span><br>
            <span> Cafe Dujardin Berlin | Mrz 2005 - jun 2007</span>
            <span>Küchenleitung</span>
          </p>
        </li>
      </ul>
    </div>
    <div class="ausbildung">
      <ul>
        <h2 style="text-align: center;">AUSBILDUNG</h2>
        <li style="list-style-type: none;">
          <p>
            <span style="font-size: larger;">WEB DEVELOPMENT</span><br>
            <span> Aw Academy. Hamburg | Aug 2022 - Nov 2022</span>
          </p>
        </li>
        <li style="list-style-type: none;">
          <p>
            <span style="font-size: larger;">WEB DEVELOPMENT</span><br>
            <span> Le Wagon. Berlin | Feb 2022 - Mai 2022</span>
          </p>
        </li>
        <li style="list-style-type: none;">
          <p>
            <span style="font-size: larger;">MA LITERARISCHES SCHREIBEN</span><br>
            <span> Universität Leipzig. Leipzig | Aug 2012 - Jul 2014</span>
          </p>
        </li>
        <li style="list-style-type: none;">
          <p>
            <span style="font-size: larger;">BACHELOR OF FINE ARTS LITERARISCHES SCHREIBEN</span><br>
            <span> Hochschule der Künste Bern. Bern(CH) | Aug 2009 - Jul 2012</span>
          </p>
        </li>
        <li style="list-style-type: none;">
          <p>
            <span style="font-size: larger;">IHK KOCH</span><br>
            <span> Hotel Seeblick. Leipzig | Mai 2005 - Jul 2008</span>
          </p>
        </li>
      </ul>
    </div>
    <div class="preiseundauszeichnung">
      <ul>
        <h2 style="text-align: center;">PREISE UND AUSZEICHNUNGEN</h2>
        <li style="list-style-type: none;">
          <p>
            <span> Werkbeitrag Kanton Bern| 2012</span>
          </p>
        </li>
        <li style="list-style-type: none;">
          <p>
            <span> Literaturtage Klagenfurt| 2013</span>
          </p>
        </li>
        <li style="list-style-type: none;">
          <p>
            <span> Stipendiat Akademie Schloss Solitude| 2014</span>
          </p>
        </li>
        <li style="list-style-type: none;">
          <p>
            <span> Stipendiat Künstlerhaus Edenkoben| 2015</span>
          </p>
        </li>
        <li style="list-style-type: none;">
          <p>
            <span> Stipendiat des Landes Berlin| 2022</span>
          </p>
        </li>
      </ul>
    </div>
    <div class="veroeffentlichungen">
      <ul>
        <h2 style="text-align: center;">VEROEFFENTLICHUNGEN</h2>
        <li style="list-style-type: none;">
          <p>
            <a href="https://www.matthes-seitz-berlin.de/buch/kai.html" style="text-decoration: none;">
            <span>Kai. Eine Internatsgeschichte</span>
            </a>
          </p>
        </li>
        <li style="list-style-type: none;">
          <p>
            <a href="https://www.matthes-seitz-berlin.de/buch/weihnachten.html?lid=1" style="text-decoration: none;">
              <span>Weihnachten</span>
            </a>
          </p>
        </li>
        <li style="list-style-type: none;">
          <p>
            <a href="https://www.matthes-seitz-berlin.de/buch/muammers-letzter-tag-ebook.html?lid=2" style="text-decoration: none;">
              <span>Muammers letzter Tag</span>
            </a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
