
<div id="back" class="container"></div>
<div class="box">
<div class="container">
  <div class="kontaktdaten">
    <ul style="list-style-type:none;">
      <li class="bi bi-envelope" style="font-size: 1.6em;"></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="kompetenzen"></div>
</div>
<div class="containerzwei">
  <div class="about"></div>
  <div class="berufserfahrung"></div>
  <div class="ausbildung"></div>
  <div class="preiseundauszeichnung"></div>
  <div class="veroeffentlichungen"></div>
</div>
</div>
