.b,
.c,
.d,
.e {
  width: 30px;
  background: #F7BED9;
  position: absolute;
  border-radius: 20px;
  left: 185px;
}

.b,
.c {
  height: 210px;
  top: 45px;
}

.d,
.e {
  height: 150px;
  top: 75px;
}

.b {
  rotate: 90deg;
}

.d {
  rotate: 45deg;
}

.e {
  rotate: 135deg;
}
