<nav class="navbar kopfbrand fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand kopfbrandtext" href="#">CODE</a>
    <button class="navbar-toggler collapsed" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <!--      <span class="navbar-toggler-icon"></span>-->
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active kopfitemschrift" aria-current="page" routerLink="cv" routerLinkActive="active">CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link kopfitemschrift" aria-current="page" routerLink='anschreiben'>
            ANSCHREIBEN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link kopfitemschrift" aria-current="page" routerLink="arbeitsproben" (click)="isMenuCollapsed =true">ARBEIT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link kopfitemschrift gehalt" aria-current="page"
            routerLink="individuelleSeite/:id/gehaltsVorstellung" style=""> GEHALT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link kopfitemschrift dieseSeite" aria-current="page"
            routerLink="individuelleSeite/:id/dieseSeite" style="">DIESE SEITE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link kopfitemschrift kontakt" aria-current="page" routerLink="individuelleSeite/:id/kontakt">
            KONTAKT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
