<div class="box">

    <a aria-current="page" routerLink="/css-battle" routerLinkActive="active" class="button battle">css battle</a>
    <a aria-current="page" routerLink="/games-site" routerLinkActive="active" class="button games">play a game?</a>
    <a aria-current="page" routerLink="/coming-soon" routerLinkActive="active" class="button api">ask a robot anything</a>
    <a aria-current="page" routerLink="/coming-soon" routerLinkActive="active" class="button apps">things I built</a>
    <a aria-current="page" routerLink="/coming-soon" routerLinkActive="active" class="button books">things I wrote</a>
    <a aria-current="page" routerLink="/coming-soon" routerLinkActive="active" class="button apps">things I built</a>

</div>
