.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weiss {
  width: 240px;
  height: 140px;
  background: #dd6b4d;
  margin: 80px 0 0 0;
  border-radius: 70px 0px;
  background: #F0F8F1;
}

.strich {
  width: 240px;
  height: 180px;
  background: #dd6b4d;
  margin: -20px 0 0 60px;
  border-radius: 89px 0px;
  background: transparent;
  border: 20px #009247 solid;
}
