<div class="boxx">

    <div class="kol one">
      <app-cssone></app-cssone>
    </div>
    <div class="kol two">
      <app-csstwo></app-csstwo>
    </div>
    <div class="kol three">
      <app-cssthree></app-cssthree>
    </div>
    <div class="kol four">
      <app-cssfour></app-cssfour>
    </div>
    <div class="kol five">
      <app-cssfive></app-cssfive>
    </div>
    <div class="kol six">
      <app-csssix></app-csssix>
    </div>
    <div class="kol seven">
      <app-cssseven></app-cssseven>
    </div>
    <div class="kol eight">
      <app-csseight></app-csseight>
    </div>
    <div class="kol nine">
      <app-cssnine></app-cssnine>
    </div>
    <div class="kol ten">
      <app-cssten></app-cssten>
    </div>
    <div class="kol eleven">
      <app-csseleven></app-csseleven>
    </div>
    <div class="kol twelve">
      <app-csstwelve></app-csstwelve>
    </div>
    <div class="kol thirteen">
      <app-cssthirteen></app-cssthirteen>
    </div>
    <div class="kol fourteen">
      <app-cssfourteen></app-cssfourteen>
    </div>
    <div class="kol fifteen">
      <app-cssfifteen></app-cssfifteen>
    </div>
    <div class="kol sixteen">
      <app-csssixteen></app-csssixteen>
    </div>
    <div class="kol seventeen">
      <app-cssseventeen></app-cssseventeen>
    </div>
    <div class="kol eightteen">
      <app-csseightteen></app-csseightteen>
    </div>
    <div class="kol nineteen">
      <app-cssnineteen></app-cssnineteen>
    </div>
    <div class="kol twenty">
      <app-csstwenty></app-csstwenty>
    </div>
    <div class="kol twentyone">
      <app-csstwentyone></app-csstwentyone>
    </div>
</div>
