.boxx{
  margin:10vh 0 0 0;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap:20px;
  flex-wrap: wrap;
}
.kol{
  width: 400px;
    height: 300px;
    display: flex;
    border-radius: 20px;
    position:relative;
    overflow: hidden;
}
.one{
  background:#1E1E1E;
  margin:0;
  justify-content: center;
  align-items: center;
  gap:18px;
}
.two{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #62306D;
  overflow: hidden;
}
.three{
margin: 0;
  background: #0D2328;
}
.four{
margin: 0;
  background: #6A1368;
}
.five{
  margin: 0;
    background: #999943
}
.six{
margin: 0;
  background: #401653;
}
.seven{
margin: 0;
  background: #024817;
justify-content: center;}
.eight{
margin: 0;
  background: #551D70;
  justify-content: center;
}
.nine{
margin: 0;
  background: #602820;
  justify-content: center;
}
.ten{
margin: 0;
  background: #7C402E;
  justify-content: center;
  align-items: center;
}
.eleven{
margin: 0px;
  background: #F2644D;
}
.twelve{
  margin: 0;
    background: #6F234F;
}
.thirteen{
margin: 0;
  background: #14313E;
  justify-content: center;
}
.fourteen{
margin: 0;
  background: #009247;
  justify-content: center;
}
.fifteen{
margin: 0;
  background: #14313E;
  justify-content: center;
}

.seventeen{
margin: 0;
  background: #D8B788;
}
.eightteen{
margin: 0;
  background: #F89F65
}
.nineteen{
margin: 0;
  background: #F7BED9;
}
.twenty{
margin: 0;
  background: #FEFAE0;
  justify-content: center;
}
.twentyone{
  margin: 0;
    background: #223E1F;
    justify-content: center;
    align-items: center;
}
